<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/'+system_theme) }}">


</head>
<body>

<nav>
    <div class="container"><div class="col">
  <table>
      <tr>
    <td>
      <a href="/edit">Edit</a>
    </td>
    <td>
      <a href="/execute">Execute</a>
    </td>
      <td>
          <a href="/config">Settings</a>
      </td>
  </tr>
  </table>
        <div class="sep"></div>
        <table>
<tr>
    <td><a href="/view/playlist_processed.txt">View Playlist log</a></td>
    <td><a href="/view/process.txt">View Download log</a></td>
    <td><a href="/config">Config Settings</a></td>
  </tr>
</table>
    </div></div>
</nav>

<h2>Current Version: {{current}}</h2>
<p>{{updateTxt}} {% if updateVersion %}{{updateVersion}}{% endif %}</p>
{% if updateVersion %}<button onclick="start()">Update now</button>{% endif %}
{% if warning %}
    <div style="color: red; background: #fff3cd; padding: 10px; border: 1px solid #f5c6cb;">
    <h1>Warning you may have use_reloader set to true</h1>
    <p>disable this in app.py there should be a line the needs to say:
        'app.config["USE_RELOADER"] = False'. Updates cannot apply while this is enabled</p>
    </div>
{% endif %}
<div id="update_desc"></div>
<pre id="log"></pre>

<script>
    document.getElementById('update_desc').innerHTML = '{{update_desc.replace('\n','') | safe}}';
    function start() {
        document.getElementById('update_desc').className = 'hide';
        const logElement = document.getElementById("log");
        const eventSource = new EventSource("/update/start");
        eventSource.onmessage = function (event) {
            logElement.textContent += event.data + "\n";
            logElement.scrollTop = logElement.scrollHeight;  // auto-scroll
        };

        eventSource.onerror = function () {
            logElement.textContent += "[Error receiving updates]\n";
            eventSource.close();
        };
    }

</script>

<style>
    .hide{
        display: none;
    }
</style>
</body>
</html>
