<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<form action="/new" method="post">
    <table>
        <tr>
            <td>Name your group</td>
            <td><input type="text" name="file" required></td>
        </tr>
        <tr>
            <td>Select group type</td>
            <td>
            <input type="radio" name="type" id="1" value="playlist" required>
            <label for="1">Playlist</label>
            <input type="radio" name="type" id="2" value="download" required>
            <label for="2">Download files</label>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Add</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>