<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/'+system_theme) }}">

</head>
<body>

<form action="/new" method="post">
    <table>
        <tr>
            <td>Name your group</td>
            <td><input type="text" name="file" required></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Add</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>