<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<nav>
<table>
  <tr>
    <td>
      <a href="/edit">Edit</a>
    </td>
    <td>
      <a href="/view">View</a>
    </td>
    <td>
      <a href="/execute">Execute</a>
    </td>
      <td>
          <a href="/config">Config</a>
      </td>
  </tr>
</table>
</nav>

<h1>Web-dlp-down-z</h1>

<h2>Set up</h2>
<p>Open config and add your download path:
    Windows- C:\user\downloads
    Linux/Macos- ~/Downloads
</p>
<h2>Starting to use (edit)</h2>
<p>
    Edit has 2 files playlist and downloads. Downloads is individual links that will be downloaded,
    you may remove anything you do not wanted downloaded or reorder the list so something will be downloaded first.
    Playlist this servers as links that go to playlists, & must be a valid playlist link containing downloadable content.
    The name space is there to server as logs and read-ability this does not contribute to the file name.
</p>
<h2>Starting to use (Execute)</h2>
<p>
    Execute will download via YT-DLP. Execute has two files process playlist and downloads.
    Process playlist(s) will take any playlist in the edit file and break them down to their individual link(s),
    this will also auto name it based on their web-link name. This does not use the progress bar, the log
    output will indicate when it has finished.
    Downloads will download all files in the order present from the last save of the downloads file, provided a
    log output and the eta progress bar.
</p>
<h2>View</h2>
<p>
    View contains the log files for playlist and download, these are part of the project and cannot be stored
    outside of the project folder. These log the completion of all links, even if they fail they will end up here.
    This is a fail safe so that if you lost something you can return it to the download file.
</p>

</body>
</html>