<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{where}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<nav>
<table>
  <tr>
    <td>
      <a href="/edit">Edit</a>
    </td>
    <td>
      <a href="/execute">Execute</a>
    </td>
      <td>
          <a href="/config">Settings</a>
      </td>
  </tr>
  <tr>
    <td><a href="/view/playlist_processed.txt">View Playlist log</a></td>
    <td><a href="/view/process.txt">View Download log</a></td>
    <td><a href="/config">Config Settings</a></td>
    <td><a href="/update">Update</a></td>
  </tr>
</table>
</nav>

<h1>View</h1>

{% if where %}
<table>
    {% for line in file_contents %}
        <tr><td>{{line}}</td></tr>
    {% endfor %}
</table>
{% else %}
<p>Select a file</p>
{% endif %}



</body>
</html>