<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extractor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/'+system_theme) }}">
</head>
<body>

<nav>
    <table>
        <tr>
            <td>
                <a href="/edit">Edit</a>
            </td>

            <td>
                <a href="/execute">Execute</a>
            </td>
            <td>
                <a href="/config">Settings</a>
            </td>
        </tr>
    </table>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Extractor</h1>
            <p>The extractor will extract all links from any website that are considered video links. They will be auto added to your choice of install location.
                This also gives a temporary output of all links found.
            </p>
            <p>Example link: https://example.com/search/{page}</p> <i>Ensure to add exactly '{page}' as this will search every page. If you don't see page in the original link try going to the second page and it will might pop up in the url.</i>
        </div>
    </div>
    <form action="/extractor/setExtractor" method="post">
        <div class="row">
            <label for="install">Installs to: </label>
            <select name="install" id="install">
                <option value="default-download.json">download</option>
                {% for entry in installOpts %}
                <option value="{{entry}}-download.json">{{entry}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <label for="url">Url:</label>
            <input type="text" name="extract_url" id="url">
        </div>
        <label for="mp">Max pages(default is 10):</label>
        <input type="text" name="max_pages" id="mp">
        <button type="submit">Extract</button>
    </form>
</div>

<div class="container">
    <div class="col">
        <div class="row"><pre id="log"></pre></div>
    </div>
</div>

<script>
    {% if install %}
    const eventSource = new EventSource("/extractor/extract");
    {% endif %}
        const logElement = document.getElementById("log");

        eventSource.onmessage = function (event) {
            const msg = event.data;

                if (event.data.startsWith("REDIRECT ")) {
                    const targetUrl = event.data.replace("REDIRECT ", "").trim();
                    eventSource.close();
                    window.location.href = targetUrl;
                }
                logElement.textContent += msg + "\n";
                logElement.scrollTop = logElement.scrollHeight;
        };

        eventSource.onerror = function () {
            logElement.textContent += "[Error receiving download updates]\n";
            eventSource.close();
        };
</script>

</body>
</html>